{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Ingresar</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="_password" required>

        <button type="submit">Ingresar</button>
    </form>
{% endblock %}
